*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

html,body{
    width: 100%;
    height: 100%;
}




header .sc_header{
    background-color: white;
    display: none;
  }
  
  header .sc_header .logo_sc img{
    position: absolute;
    left: 1.5rem;
    height: 5rem;
    width: 4rem;
    z-index: 9999999999999999;
    display: none;
  }
  
  header .sc_header .sc_top_nav{
    background-color: #f3f3f3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 10rem;
    padding: 0.5rem 0;
    margin-bottom: 2.5rem;
    width: 100%;
  }
  
  header .sc_header .sc_top_nav ul{
    list-style: none;
  }
  header .sc_header .sc_top_nav .top_links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 1rem;
  }
  
  header .sc_header .sc_top_nav .top_links li .hindi{
    text-decoration: none;
    font-size: 15px;
  }
  
  header .sc_header .sc_top_nav .top_links .imgs{
    height: 16px;
    width: 16px;
    cursor: pointer;
  }
  
  header .sc_header .sc_top_nav .top_links .menu ul li  a span{
    font-size: 25px;
    color: #007EC4;
  }
  
  header .sc_header .sc_top_nav .top_links .menu  {
    position: relative;
  }
  
  header .sc_header .sc_top_nav .menu .menu-sm  ul{
    background-color: #007EC4; 
  }
  
  header .sc_header .sc_top_nav  .top_links .menu  .submenu {
    position: absolute;
    background-color: #fafafa;
    top: 100%;
    /* width: 15rem; */
    /* width: auto; */
    min-width: 10rem;
    max-width: 200em;
    /* width: 100%; */
    z-index: 999999999;
    border-bottom: 3.5px solid #007ec4;
    display: none;
    
  }
  
  header .sc_header .sc_top_nav  .top_links .menu  .submenu li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
    column-gap: 0.2rem;
  }
  header .sc_header .sc_top_nav  .top_links .menu  .submenu li a img{
    height: 15px;
    width: 15px;
  }
  header .sc_header .sc_top_nav  .top_links .menu:hover .submenu {
    display: flex;
    flex-direction: column; 
  }
  
  header .sc_header .sc_top_nav  .top_links .menu  .submenu{
    right: 0%;
  }
  
  header .sc_header .sc_top_nav  .top_links .menu  .submenu li a {
    padding: 0.2rem 0.5rem;
  }
  header .sc_header .sc_top_nav  .top_links .menu  .submenu li a span{
    /* padding: 3px 10px 3px 50px; */
    background: 0 0;
    color: black;
    text-shadow: none;
    text-align: left;
    font-size: 0.8rem;
    line-height: 1.5rem;
    display: inline-block;
    text-transform: capitalize;  
    text-decoration: none;
  }
  
  header .sc_header .sc_top_nav .top_links .menu  ul li a span{
    color: white;
  }
  
  header .sc_header .sc_top_nav .top_links .menu   .submenu li a{
    width: 100%;
  }
  
  header .sc_header .sc_top_nav .top_links .menu  .submenu li a:hover{
    background-color: white;
    border-left: 3.5px solid #fff60d;
    
  }
  
  header .sc_header .sc_top_nav .top_links .menu  .submenu li a:hover span{
    color: #007EC4;
  }
  
  header .sc_header .sc_top_nav .menu ul .menu-sm  a i{
    font-size: 25px;
    color: #007EC4;
  }
  
  header .sc_header .sc_top_nav .menu ul .menu-sm {
    position: relative;
  }
  
  header .sc_header .sc_top_nav .menu .menu-sm  ul{
    background-color: #007EC4; 
  }
  
  header .sc_header .sc_top_nav .menu .menu-sm  ul li a{
    color: white;
  }
  
  header .sc_header .sc_top_nav .menu  ul li .submenu li a{
    width: 100%;
  }
  
  header .sc_header .sc_top_nav .menu  ul li .submenu li a:hover{
    background-color: white;
    border-left: 3.5px solid #fff60d;
    color: #007EC4;
  }
  
  header .sc_header .sc_top_nav .menu  ul li  .submenu {
    position: absolute;
    background-color: #fafafa;
    top: 100%;
    /* width: 15rem; */
    width: auto;
    min-width: 50vw;
    max-width: 200em;
    /* width: 100%; */
    z-index: 999999999;
    border-bottom: 3.5px solid #007ec4;
    display: none;
  }
  
  header .sc_header .sc_top_nav .menu  ul li  .submenu .price{
    font-weight: bolder;
  }
  
  header .sc_header .sc_top_nav .menu  ul li:hover .submenu {
    display: flex;
    flex-direction: column; 
    background-color: #007cc3;
  }
  
  header .sc_header .sc_top_nav .menu  ul .menu-sm .submenu{
    right: 0%;
  }
  
  header .sc_header .sc_top_nav .menu  ul li .submenu li a{
    padding: 3px 30px 3px 50px;
    background: 0 0;
    color: #ffffff;
    text-shadow: none;
    text-align: left;
    font-size: 0.9rem;
    line-height: 1.5rem;
    display: inline-block;
    text-transform: capitalize;  
    text-decoration: none;
  } 
  
  
  
  
  
  /*                                                                    Responsive Social links                                                   */
  
  header .social_links_sm{
      display: flex;
      justify-content: end;
      width: 100%;
      margin: 0 5vw;
      display: none;
      
  }
  header .social_links_sm ul{
      display: flex;
      list-style: none;
      column-gap: 1rem;
      align-items: center;
      justify-content: end;
  }
  header  .social_links_sm ul .verticle_line{
      
      font-weight: 100;
      border-left: 2px solid #66666677;
      height: 1.25rem;
      
  }
  header  .social_links_sm ul{
      column-gap: 0.7rem;
  }
  header  .social_links_sm ul li a i{
      color: #66666677;
      font-size: 13.5px;
  }
  
  header  .social_links_sm ul li:hover i{
      color: #007EC4;
  }
  header{
      position: relative;
  
  }
  
  header .logo{
      position: absolute;
      z-index: 99999999;
      left: 8rem;
      width: 8rem;
      height: 10rem;
      position: fixed;
      top: 0;
      transition: all 0.25s linear !important;
     
  }
  header .top_nav{
      width: 100%;
      box-shadow: 0 1px 4px #e5e7eb;
  }
  
  header .top_nav .all_links{
      width: 82%;
      margin: 0 auto;
      
      display: flex;
      justify-content: right;
      align-items: center;
      padding: 0.5rem 0.5rem;
      column-gap: 1rem;
  }
  
  header .top_nav .all_links .petroleum_links ul, .social_links ul{
      display: flex;
      list-style: none;
      column-gap: 1rem;
      align-items: center;
  }
  
  header .top_nav .all_links .petroleum_links ul li a{
      text-decoration: none;
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 0.2rem;
  }
  
  header .top_nav .all_links .petroleum_links ul li a img{
      height: 0.7rem;
      width: 0.7rem;
      color: #007EC4;
  }
  
  header .top_nav .all_links .petroleum_links ul li a span{
      font-size: 12px;
      color: black;
  }
  
  
  header .top_nav .all_links .petroleum_links ul li:hover span{
      color: #007EC4;
  }
  header .top_nav .all_links .social_links ul .verticle_line{
      
      font-weight: 100;
      border-left: 2px solid #66666677;
      height: 1.25rem;
      
  }
  header .top_nav .all_links .social_links ul{
      column-gap: 0.7rem;
  }
  header .top_nav .all_links .social_links ul li a i{
      color: #66666677;
      font-size: 13.5px;
  }
  
  header .top_nav .all_links .social_links ul li:hover i{
      color: #007EC4;
  }
  
  
  header .middle_nav{
      
      width: 82%;
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: right;
      column-gap: 2rem;
      padding: 1.5rem 0;
      /* border: 1px solid red; */
  }
  
  header .middle_nav .input{
      width: 55%;
      
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      border-bottom: 1px solid #007EC4;
     
      flex-shrink: 1;
     
  }
  
  header .middle_nav .input img{
      position: absolute;
      left: 1%;
  }
  header .middle_nav .input input{
      height: 40px;
      width: 100%;
      background: 0 0;
      border: none;
      color: #99b3c3;
      font-size: 14px;
      padding: 5px 15px 5px 60px;
      border-bottom: 3px solid #f1f1f1;
      
  }
  
  header .middle_nav .input input::placeholder{
      font-size: 16px;
      color: #99b3c3;
  }
  
  header .middle_nav .input input:focus{
      outline: none;
  }
  
  header .middle_nav .image{
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 0.5rem;
      
  }
  
  header .middle_nav .image .img1{
      height: 4rem;
  }
  header .middle_nav .image .verticle_line{
      border-left: 2px solid #007EC4;
      height: 3.5rem;
  }
  header .middle_nav .image .img2{
      width: 10rem;
      height: 4.8rem;
  }
  
  .final_nav{
      background-color: #007ec4;
      position: sticky;
      top: 0px;
      width: 100%;
      z-index: 9;
      text-align: end;
      height: 45px;
      display: flex;
      align-items: center;
      column-gap: 1rem;
      justify-content: right;
      
      
  }
  
  .final_nav ul{
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: end;
      align-items: flex-start;
      list-style: none;
      margin-right: 0.1rem;
      column-gap: 0.1rem;
      /* display: none; */
      
  }
  
  .final_nav ul li a{
      text-decoration: none;
      color: white;
      padding: 0.89rem 0.875rem 0.85rem;
      font-size: 14px;
      /* position: relative; */
      transition: all 0.25s ease;
      
  }
  
  
  
  
  .final_nav ul li .view_prices{
      background-color: #f4da35;
      color: black;
      font-weight: bolder;
  }
  
  .final_nav ul  .links:hover{
      background-color: #fafafa;
      color: #787878;
      
  }
  
  
  
  .final_nav ul li  .submenu {
      position: absolute;
      background-color: #fafafa;
      top: 100%;
      /* width: 15rem; */
      width: auto;
      min-width: 10em;
      max-width: 14em;
      z-index: 999999999;
      border-bottom: 3.5px solid #007ec4;
      display: none;
     
  }
  
  .final_nav ul li .submenu li a{
      padding: 3px 30px 3px 23px;
      background: 0 0;
      color: #787878;
      text-shadow: none;
      text-align: left;
      font-size: 0.9rem;
      line-height: 1.5rem;
      display: inline-block;
      border-left: 3.5px solid #fafafa;
      text-transform: capitalize;  
      
  }
  /* .final_nav ul li .submenu .more{
      display: flex;
      align-items: center;
      justify-content: space-between;
      cursor: pointer;
      color: #787878ae;
      font-size:0.8rem ;
      margin-right: 0.5rem;
  } */
  
  .final_nav ul .menu-sm{
      display: none;
  }
  
  .final_nav ul .menu-sm a i{
      font-size: 2rem;
  }
  
  .final_nav ul .menu-sm  ul{
      background-color: #007EC4; 
  }
  
  .final_nav ul .menu-sm  ul li a{
      color: white;
  }
  
  .final_nav ul li:hover .submenu {
      display: flex;
      flex-direction: column; 
  }
  .final_nav ul li .submenu li a{
      width: 100%;
  }
  
  .final_nav ul li .submenu li a:hover{
      background-color: white;
      border-left: 3.5px solid #fff60d;
      color: #007EC4;
  }
  
  .final_nav ul .menu-sm .submenu{
      right: 0%;
  }





.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}
.swiper-pagination{
    margin-bottom: 40px;
}

.crousal {
    position: relative;
}

.img-txt {
    z-index: 5;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: black;
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    background-color: rgba(249, 223, 75, 0.8);
    padding: 12px 14px;
}
.img-txt h1{
    color: #000000;
    font-family: 'Figtree', sans-serif;
    font-size: 21px;
    line-height: 21px;
    font-weight: 600;
    margin-right: 10px;
}
.img-txt p{
    color: #000000;
    font-family: 'Figtree', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.main-container {
    margin: 30px 80px;
    margin-bottom: 80px;
}
.left-txt {
    display: flex;
}

.small-txt {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-txt>a {
    font-family: 'Figtree', sans-serif;
    font-size: 12px;
    font-weight: 400;
    margin-right: 5px;
    color: #999999;
    text-decoration: none;
    transition: 0.2s;
}

.left-txt>a:hover {
    text-decoration: underline;
    color: black;
}

.left-txt p {
    margin-left: 10px;
    color: #3F3F3F;
    font-family: 'Figtree', sans-serif;
    font-size: 12px;
    font-weight: 400;
}

.right-txt a {
    color: #007ec4;
    text-decoration: none;
    font-family: 'Figtree', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 38px;
}

.right-txt img {
    height: 8px;
    margin-left: 40px;
}
.img-txt {
    font-family: 'Figtree', sans-serif;
    font-weight: 600;
    font-size: 16px;
}
.main-txt {
    margin-top: 20px;
}

.head-txt h1 {
    color: #007ec4;
    text-align: center;
    margin-bottom: 30px;
    font-family: 'Figtree', sans-serif;
    font-size: 30px;
    font-weight: 600;
}

.para-txt {
    color: #666666;
}
.para-txt p {
    text-align: justify;
    color: #666666;
    font-family: 'Figtree', sans-serif;
    font-size: 14px;
    font-weight: 400;
}
.img-container-blue {
    /* height: 296.312px; */
    box-sizing: border-box;
    background-color: #E9F3FA;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container-blue {
    padding: 27px 0;
}

.img-container-blue div {
    width: 247.5px;
    height: 270.698px;
}

.goals {
    background: url(./assets/Capture\ \(1\)\(4\).jpg);
    background-size: contain;
}

.sustainability {
    background: url(./assets/Sustainability\ Reports\ \(1\).jpg);
    background-size: contain;
}

.hsse {
    background: url(./assets/Caring-for-all_hsse_tile\(1\).jpg);
    background-size: contain;
}

.green-ref {
    background: url(./assets/a-background.jpg);
    background-size: contain;

}

.env-clearance{
    background: url(./assets/Nomination-form-box.jpg);
    background-size: contain;
}
.awards-rec{
    background: url(./assets/555x299-Awards.jpg);
    background-size: contain;
}

.img-container-blue {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    justify-content: center;
    align-items: center;
}

.img-container-blue div {
    position: relative;
}
.align-img-txt span{
    font-size: 17px;
    font-weight: 400;
}

.align-img-txt h3 {
    background-color: RGBA(141, 143, 147, 0.8);
    width: 90%;
    top: 75%;
    left: 5%;
    position: absolute;
    color: white;
    text-align: center;
    font-family: 'Figtree', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.align-img-txt1 h3 {
    background-color: RGBA(141, 143, 147, 0.8);
    width: 90%;
    top: 84%;
    left: 5%;
    position: absolute;
    color: white;
    text-align: center;
    font-family: 'Figtree', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.yellow-underline {
    position: absolute;
    width: 90% !important;
    top: 94%;
    left: 5%;
    background-color: yellow;
}

.footer{
    width: 100%;
  }
  
  .footer .footer_min{
    width: 100%;
    height: 3rem;
    
    background-color: #2a5a8e;
    text-align: center;
    position: relative;
    z-index: 1;
    display: flex;
    align-items: center;
    
  }
  .footer .footer_min .up_button{
    position: absolute;
    top: -20px;
    left: 50%;
    z-index: -1;
  }
  
  .footer .footer_min .up_button button{
      transform: translateX(-50%);
      width: 60px;
      border: none;
      background: #2a5a8e;
      color: #fff;
      font-size: 20px;
      border-radius: 900%;
      line-height: 35px;
      cursor: pointer;
  }
    
  
  
  .footer .footer_min .up_button button i{
    padding-left: 0.2rem;
    font-size: 20px;
    
    
  }
  .footer .footer_min ul{
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    
  }
  
  .footer .footer_min .h3{
    font-size: 0.875rem;
    font-weight: 400;
    color: #FFFFFF;
    display: none;
  }
  
  .footer .footer_min ul li h3{
    font-size: 0.875rem;
    font-weight: 400;
    color: #FFFFFF;
    margin-left: 8rem;
  }
  
  
  
  
  .footer .footer_max{
    width: 100%;
    background-color: #2a5a8e;
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 0;
    z-index: 1;
    position: relative;
    display: none;
    
  }
  
  .footer .footer_max .down_button{
    position: absolute;
    top: -20px;
    left: 50%;
    z-index: -1;
  }
  
  .footer .footer_max .down_button button{
      transform: translateX(-50%);
      width: 60px;
      border: none;
      background: #2a5a8e;
      color: #fff;
      font-size: 20px;
      border-radius: 900%;
      line-height: 35px;
      cursor: pointer;
  }
  
  
    
  
  
  .footer .footer_max .down_button button i{
    padding-left: 0.15rem;
    font-size: 20px; 
  }
  
  .footer .footer_max ul{
    list-style: none;
  }
  
  .footer .footer_max ul li{
    margin: 0.2rem 0;
  }
  .footer .footer_max h3{
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
  }
  
  .footer .footer_max a{
    text-decoration: none;
    font-size: 13px;
    color: #f3f3f3ae;
    
    transition: all 0.2s linear;
  }
  
  .footer .footer_max ul li{
    margin: 0.2rem 0;
  }
  
  .footer .footer_max a:hover{
    color: white;
  }
  
  
  .footer .footer_max .icons_links ul .icons ul{
    display: flex;
    column-gap: 1rem;
    
  }
  
  
  .footer_end{
    width: 100%;
    background-color: #0e1927;
    font-size: 0.75rem;
    color: white;
    padding: 0.8rem 8rem 1rem;
    
  }
  
  .footer_end a{
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    margin-top: 2px;
    
  }
  
  .footer_end .footer_1{
    display: flex;
    justify-content: space-between;
    
  }
  
  
  .footer_end .footer_1 ul{
    display: flex;
    list-style: none;
    column-gap: 1.5rem;
  }
  
  .footer_end_sc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #0e1927;
    font-size: 0.75rem;
    color: white;
    padding: 0.8rem 8rem 1rem;
    text-align: center;
    display: none;
    
  }
  
  .footer_end_sc a{
    text-decoration: none;
    color: white;
    font-size: 0.75rem;
    margin: 1rem 0;
    
  }
  
  
  
  .footer_end_sc .footer_2 p{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .footer_end_sc ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    column-gap: 1.5rem;
  }
  
  
  /* Media Query Section */
  
  @media screen and (max-width: 1437px){
      header .middle_nav {
          padding-left: 8rem;
      }
      header .middle_nav .input{
          width: 50%;
      }
      header  .social_links_sm{
          display: none;
      } 
       /* header .top_nav .all_links .social_links{
          display: none;
      }  */
  }
  
  /* @media screen and (max-width:980px){
      header .top_nav .all_links .social_links{
          display: none;
      } 
      header  .social_links_sm{
          display: inline-block;
      } 
  } */
  
  @media screen and (min-width:992px) and (max-width:1200px){
      header .logo{
          left: 1.5rem;
          width: 6rem;
      }
  
      header .top_nav .all_links{
          column-gap: 0.7rem;
          padding-right: 0rem;
      }
  
      header .top_nav .all_links .petroleum_links ul, .social_links ul{
          column-gap: 0.5rem;
      }
  
      header .top_nav .all_links .social_links ul{
          column-gap: 0.5rem;
      }
  
      header .middle_nav .input{
          width: 50%;
          display: flex;
          flex-grow: 1;
      }
      .final_nav ul{
          column-gap: 0;
      }
  
      .final_nav ul li a{
          padding: 0.89rem 0.4rem 0.85rem;
      }
      /* .footer .footer_min ul{
        display: inline;
      } */
      .footer .footer_min ul li h3{
        margin-left: 4.5rem;
        
      }
  }
  
  @media screen and (min-width:768px) and (max-width:992px){
      header .top_nav .all_links .social_links ul{
          display: none;
      }
  
      header  .social_links_sm{
          width: 90.95%;
          margin: 0 auto;
          display: inline-block;
          text-align: right;  
      }
  
      header  .social_links_sm ul li a i{
          color: #666666ab;
          font-size: 12px;
      }
  
      header .logo{
          left: 1.5rem;
          width: 7rem;
          height: 11rem;
          
      }
      header .middle_nav{
          width: 82%;
      }
      header .middle_nav .image .img1{
          height: 3rem;
      }
      header .middle_nav .image .verticle_line{
          border-left: 2px solid #007EC4;
          height: 3.5rem;
      }
      header .middle_nav .image .img2{
          width: 6rem;
          height: 3rem;
      }
  
      .final_nav ul li a{
          padding: 0.89rem 0.4rem 0.85rem;
      }
  
      header .top_nav .all_links{
          column-gap: 0;
          padding-right: 0rem;
      }
  
      header .top_nav .all_links .petroleum_links ul{
          column-gap: 0.5rem;
      }
  
      .final_nav ul .big-sc{
          display: none;
      }
  
      .final_nav ul .menu-sm {
          display: inline-block;
      }
  
      .footer .footer_min ul .big-sc{
        display: none;
      }
  
      
  }
  
  @media screen and (min-width:600px) and (max-width:768px){
    header .top_nav{
      display: none;
      position: sticky !important;
      top: 0;
    }
  
    header .social_links_sm{
      display: none;
    }
  
    header .middle_nav{
      display: none;
    }
    .final_nav{
      display: none;
    }
    header .sc_header{
      
      z-index: 33333333333333333;
      position: fixed;
      top: 0px;
      width: 100%;
      display: flex;
      justify-content: right;
      
      
    }
  
    .crousal{
      margin-top: 6rem;
    }
  
    
  
    header .logo{
      display: none;
    }
  
    header .sc_header .logo_sc img{
      display: inline;
    }
  
    
    
    .footer .footer_min ul{
      display: none;
    }
  
    .footer .footer_min{
      display: flex;
      justify-content: center;
    }
  
    .footer .footer_min .h3{
      display: flex;
    }
  
    .footer .footer_max .big-sc{
      display: none;
    }
  
    .footer_end{
      display: none;
    }
    .footer_end_sc{
      display: inline-block;
    }
  }
  
  @media screen and (max-width:600px){
    header .top_nav{
      display: none;
      
    }
  
    header .social_links_sm{
      display: none;
    }
  
    header .middle_nav{
      display: none;
    }
    .final_nav{
      display: none;
    }
    header .sc_header{
      z-index: 33333333333333333;
      position: fixed;
      top: 0px;
      width: 100%;
      display: flex;
      justify-content: right;
    }
  
    
  
    header .logo{
      display: none;
    }
  
    header .sc_header .logo_sc img{
      display: inline;
    }
  
    
  
    .footer .footer_min ul{
      display: none;
    }
    .footer .footer_min{
      display: flex;
      justify-content: center;
    }
  
    .footer .footer_min .h3{
      display: flex;
    }
  
    .footer .footer_max .big-sc{
      display: none;
    }
  
    .footer_end{
      display: none;
    }
    .footer_end_sc{
      display: inline-block;
    }
    
  }


@media screen and (max-width:610px) {
    .main-container{
        margin: 40px 20px;
        margin-bottom: 60px;
    }
    .img-txt{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .line{
        display: none;
    }
    .img-txt h1{
        margin-right: 0;
        font-size: 14px;
    }
    .img-txt p{
        font-size: 12px;
    }
    
}

.last_image{
  width: 10rem;
  position: fixed;
  bottom: 1.2rem;
  right: 2.5rem;
  z-index: 99999999999;
}

.last_image img{
  width: 11.2rem;
  height: 11.2rem;

}